@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;800&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  background: radial-gradient(circle, rgb(255, 255, 255) 70%, rgb(243, 243, 243) 100%);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu {
  width: 300px;
  padding: 20px;
  display: flex;
  border-radius: 9px;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.55);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
@media (max-width: 400px) {
  .menu {
    width: 260px;
  }
}
.menu .main-menu,
.menu .settings-menu,
.menu .help-menu {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  transition: all 0.3s linear;
}
.menu .main-menu.show,
.menu .settings-menu.show,
.menu .help-menu.show {
  display: block;
}
.menu .main-menu {
  display: none;
}
.menu .main-menu .item:nth-of-type(1):hover {
  background: #7b42d1;
  box-shadow: 0 10px 25px rgba(123, 66, 209, 0.4);
}
.menu .main-menu .item:nth-of-type(2):hover {
  background: #f7ce51;
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
}
.menu .main-menu .item:nth-of-type(3):hover {
  background: #5bc5fa;
  box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
}
.menu .main-menu .item:nth-of-type(4):hover {
  background: #eb3dae;
  box-shadow: 0 10px 25px rgba(222, 23, 152, 0.4);
}
.menu .settings-menu {
  display: none;
}
.menu .settings-menu .item:hover {
  background: #f7ce51;
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
}
.menu .settings-menu .item.back {
  background: transparent;
  box-shadow: none;
  opacity: 0.7;
}
.menu .settings-menu .item.back:hover {
  opacity: 1;
}
.menu .help-menu {
  display: none;
}
.menu .help-menu .item:hover {
  background: #5bc5fa;
  box-shadow: 0 10px 25px rgba(42, 179, 248, 0.4);
}
.menu .help-menu .item.back {
  background: transparent;
  box-shadow: none;
  opacity: 0.7;
}
.menu .help-menu .item.back:hover {
  opacity: 1;
}

.item {
  padding: 16px;
  border-radius: 9px;
  background: white;
  box-shadow: 0 10px 25px rgba(124, 130, 141, 0.2);
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}
.item:not(.back):hover span {
  color: white;
  transition: all 0.2s ease-out;
}
.item:not(.back):hover path {
  fill: white;
  transition: all 0.2s ease-out;
}
.item span {
  font-size: 20px;
}
.item.back {
  box-shadow: none;
}
.item.back > * {
  opacity: 0.5;
}
.item.back .item-icon {
  opacity: 0.5;
}
.item:not(:last-of-type) {
  margin-bottom: 16px;
}
.item-name {
  font-size: 20px;
  color: #292d34;
}
.item-icon {
  vertical-align: sub;
  margin-right: 10px;
}
.item-icon.back {
  position: relative;
  top: -2px;
}
.item .chevron-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
}

@keyframes slideLeftToZero {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideRightToZero {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.slideLeftToZero {
  animation: slideLeftToZero 0.5s ease-out forwards;
}

.slideRightToZero {
  animation: slideRightToZero 0.5s ease-out forwards;
}

.circle {
  position: absolute;
  border-radius: 100%;
  opacity: 0.6;
  filter: blur(0.5px);
}
.circle.one {
  width: 200px;
  height: 200px;
  background: linear-gradient(45deg, rgb(123, 66, 209) 0%, rgb(123, 104, 238) 100%);
  top: 30%;
  left: 38%;
  z-index: -1;
  box-shadow: 0 10px 25px rgba(123, 66, 209, 0.4);
}
@media (max-width: 400px) {
  .circle.one {
    width: 140px;
    height: 140px;
    top: 33%;
    left: 22%;
  }
}
.circle.two {
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, rgb(245, 205, 81) 0%, rgb(247, 206, 81) 100%);
  top: 58%;
  left: 55%;
  z-index: -1;
  box-shadow: 0 10px 25px rgba(245, 205, 81, 0.4);
}
@media (max-width: 400px) {
  .circle.two {
    top: 60%;
    left: 62%;
  }
}

.jssecrets {
  font-weight: 500;
  text-decoration: none !important;
  padding: 16px;
  background: #ffc805;
  color: #000000;
  font-size: 1.2em;
  letter-spacing: 0.2px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(184, 144, 0, 0.1882352941), 0px 8px 24px rgba(184, 144, 0, 0.3764705882);
  position: absolute;
  bottom: 24px;
  right: 24px;
  transition: all 0.3s;
}
.jssecrets:hover {
  transform: translateY(-4px);
}